{% extends 'base.html' %} {% block content %}
<main class="container mx-auto flex justify-center my-20 ">
  <form class="flex flex-col bg-dark-3 text-gray-400 p-5 rounded-md shadow-xl" method="post">
    {% csrf_token %}
    <div class="text-3xl font-bold flex justify-center text-white">
      Password Reset
    </div>
    <div class="font-semibold flex justify-center m-2 ">
      Forgot your password? <br> Enter your email address below, and we'll email instructions for setting a new one.
    </div>
    <div class="underline mb-2">
      {{ form.non_field_errors }}
      {% for message in messages %}
      {{message}}
      {% endfor %}
    </div>
    {% for field in form %}
    <div class="flex flex-col mb-6">
      {{ field.errors|striptags }}
      <label class="text-gray-400 font-semibold">
        {{ field.label }}
      </label>
      {{ field }}
    </div>
    {% endfor%}
    <button
      class="flex justify-center mt-4 bg-gray-600 rounded-md text-white p-2 hover:bg-gray-700 focus:outline-none focus:shadow-outline"
      type="submit">
      Send email
    </button>
  </form>
</main>
{% endblock content %}