{% extends 'base.html' %} {% block content %}
<main class="container mx-auto flex justify-center my-20 ">
  <div class="flex flex-col bg-dark-3 text-gray-400 p-5 rounded-md shadow-xl" method="post">
    <div class="text-3xl font-bold flex justify-center text-white">
      Password Reset Complete
    </div>
    <div class="font-semibold flex justify-center max-w-lg">
      Your password has been set. You can now log in with your new password.
    </div>
    <a class="flex justify-center mt-4 bg-gray-600 rounded-md text-white p-2 hover:bg-gray-700 focus:outline-none focus:shadow-outline"
      href="{% url 'login' %}">
      Log in
    </a>
  </div>
</main>
{% endblock content %}