<footer class="text-gray-500 bg-dark-4 max-w-full p-5">
    <div class="flex justify-center">
      <a href="#">Contact </a>
      <div class="mx-2">|</div>
      <a href="#"> Terms and Conditions </a>
      <div class="mx-2">|</div>
      <a href="#">Privacy</a>
    </div>
    <div class="flex justify-center">
      Made with <span style="color: #e25555;" class="mx-1">&#10084;</span> using <a href="https://www.djangoproject.com/" class="mx-1 underline hover:text-gray-300">Django</a> and <a href="https://tailwindcss.com/" class="ml-1 underline hover:text-gray-300">Tailwind CSS</a>.
    </div>
    <div class="flex justify-center ">
      Copyright © 2020 InfinityCraft 2.∞ - All rights reserved
    </div>
</footer>