<footer class="text-gray-500 bg-dark-4 max-w-full p-5">
  <div class="flex justify-center">
    <a href="#">Contact </a>
    <div class="mx-2">|</div>
    <a href="#"> Terms and Conditions </a>
    <div class="mx-2">|</div>
    <a href="#">Privacy</a>
  </div>
  <div class="flex justify-center text-sm">
    Built with
    <a href="https://www.djangoproject.com/" class="ml-1 underline hover:text-gray-300">Django</a>,
    <a href="https://github.com/alpinejs/alpine/" class="ml-1 mr-1 underline hover:text-gray-300">Alpine.js </a>
    and
    <a href="https://tailwindcss.com/" class="ml-1 underline hover:text-gray-300"> Tailwind CSS</a>.
  </div>
  <div class="flex justify-center ">
    Copyright © 2020 InfinityCraft 2.∞ - All rights reserved
  </div>
</footer>