{% load static %}

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>InfinityCraft 2.∞</title>
  <meta name="description"
    content="A Community Driven Cyberpunk/Sci-Fi RPG Minecraft Server. Join at mc.playinfinitycraft.com">
  <meta name="keywords" content="playinfinitycraft.com minecraft server cyberpunk gamersgrove gamersgrove.net sci-fi community" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta http-equiv="refresh" content="21600">
  <link rel="stylesheet" href="{% static 'tailwind.css' %}">
  <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
</head>