{% block sidebar %}

<div class="col-span-4 lg:col-span-1 xl:col-span-1">
      <div class="bg-dark-3 text-xl flex-row rounded-md">
        <div class="flex justify-center lg:justify-start xl:justify-start m-1 pl-2 text-gray-300">
          Server IP
        </div>
        <hr class="stroke-current text-black" />
        <div
          class="text-gray-500 pb-2 hover:text-gray-100 uppercase text-xl font-bold cursor-pointer shadow-xl flex justify-center"
          data-copy-text="mc.playinfinitycraft.net">
          mc.playinfinitycraft.net
        </div>
        <div class="text-gray-200 hidden">Copied!</div>
      </div>
    </div>
  </div>

{% endblock sidebar %}